@import '../../_variables.scss';

.filterBox {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $eGrey;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $eGrey;
  }
  .searchInput {
    margin-bottom: 15px;
  }
  .item {
    margin-bottom: 8px;
    margin-left: 2px;
    display: flex;
    align-items: flex-start;
    .label {
      margin-left: 5px;
    }
  }
}
